@import "tailwindcss";

:root {
  --background: #F7F5F2;
}

@theme inline {
  --color-background: var(--background);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-dark: #3c2e23;
  --color-block1: #ffe5cb;
  --color-block2: #b1d1bf;
  --color-block3: #e4ccf2;
  --color-block4: #b1bbd8;
  --color-highlight: #f36245;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #F7F5F2;
  }
}

body {
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}